.icon-logo {
	width: 150px;
	height: 100%;
	max-height: 70px;
}
#icon-logo .path1 {
	fill: $brightyellow;
}
#icon-logo .path2 {
	fill: #fff;
}
#icon-logo .path3 {
	fill: #292627;
}
.icon-phone {
	width: 40px;
	padding: 0;
	margin: 0;
}
#icon-phone .path1 {
	fill:$brightyellow;
}
#icon-phone .path2 {
	fill: #000;
}
.icon-price-badge {
	position: absolute;
	right: 30px;
	top: 85px;
	width: 140px;
	transform: rotate(15deg);
	animation-delay: 0.3s;
}
#icon-price-badge .path1 {
	fill: $brightyellow
}
#icon-price-badge .path2, #icon-price-badge .path3 {
	fill: #2a2a2a;
}
.icon-Group {
	width: 180px;
	height: 60px;
	margin-top: 10px;
}
#icon-Group .path1, #icon-Group .path5, #icon-Group .path11, #icon-Group .path30 {
	fill: #f9f9f9;
}
#icon-Group .path2, #icon-Group .path15, #icon-Group .path16, #icon-Group .path17, #icon-Group .path18, #icon-Group .path20, #icon-Group .path22, #icon-Group .path23, #icon-Group .path25, #icon-Group .path26, #icon-Group .path27, #icon-Group .path29 {
	fill: #fff;
}
#icon-Group .path3, #icon-Group .path4 {
	fill: #0078a9;
}
#icon-Group .path6 {
	fill: #000;
}
#icon-Group .path7 {
	fill: #f6821f;
}
#icon-Group .path8, #icon-Group .path9 {
	fill: #001722;
}
#icon-Group .path10 {
	fill: #231f1f;
}
#icon-Group .path12, #icon-Group .path14, #icon-Group .path19, #icon-Group .path24, #icon-Group .path28 {
	fill: #fbb231;
}
#icon-Group .path13, #icon-Group .path21 {
	fill: #ec1c2e;
}
#icon-Group .path31 {
	fill: #0066b2;
}
