.icon-logo {
	width: 150px;
	height: 100%;
	max-height: 70px;
}
#icon-logo .path1 {
	fill: #ffcb3c;
}
#icon-logo .path2 {
	fill: #fff;
}
#icon-logo .path3 {
	fill: #292627;
}
.icon-phone {
	width: 40px;
	padding: 0;
	margin: 0;
}
#icon-phone .path1 {
	fill:$brightyellow;
}
#icon-phone .path2 {
	fill: #000;
}
.icon-price-badge {
	position: absolute;
	right: 30px;
	top: 85px;
	width: 140px;
	transform: rotate(15deg);
	animation-delay: 0.3s;
}
#icon-price-badge .path1 {
	fill: $brightyellow
}
#icon-price-badge .path2, #icon-price-badge .path3 {
	fill: #2a2a2a;
}

@-webkit-keyframes flipInY {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg) rotate(15deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg) rotate(15deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg) rotate(15deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg) rotate(15deg);
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipInY {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg) rotate(15deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg) rotate(15deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg) rotate(15deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg) rotate(15deg);
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px) rotate(15deg);
  }
}

.flipInY {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInY;
  animation-name: flipInY;
}

@-webkit-keyframes flipOutX {
  from {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }

  30% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1;
  }

  100% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
}

@keyframes flipOutX {
  from {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }

  30% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1;
  }

  100% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
#icon-Group .path1, #icon-Group .path5, #icon-Group .path11, #icon-Group .path30 {
	fill: #f9f9f9;
}
#icon-Group .path2, #icon-Group .path15, #icon-Group .path16, #icon-Group .path17, #icon-Group .path18, #icon-Group .path20, #icon-Group .path22, #icon-Group .path23, #icon-Group .path25, #icon-Group .path26, #icon-Group .path27, #icon-Group .path29 {
	fill: #fff;
}
#icon-Group .path3, #icon-Group .path4 {
	fill: #0078a9;
}
#icon-Group .path6 {
	fill: #000;
}
#icon-Group .path7 {
	fill: #f6821f;
}
#icon-Group .path8, #icon-Group .path9 {
	fill: #001722;
}
#icon-Group .path10 {
	fill: #231f1f;
}
#icon-Group .path12, #icon-Group .path14, #icon-Group .path19, #icon-Group .path24, #icon-Group .path28 {
	fill: #fbb231;
}
#icon-Group .path13, #icon-Group .path21 {
	fill: #ec1c2e;
}
#icon-Group .path31 {
	fill: #0066b2;
}
