doctype html
html(lang='en')
  head
    title Sergio's Towing
    meta(charset="utf-8")
    link(rel="stylesheet" href="assets/css/main.css")
    meta(name="viewport" content="width=device-width, initial-scale=1")

  body
    include ./includes/svg.html
    section.hero
      header.site-header
        .row
          include ./includes/nav
      .headline-wrap
        .row.hero-wrap
          .headline-content.medium-8.large-8.columns
            p.price $50 Local Tow Special
            h1 24/7 Towing #[span.mobile-hidden and car recovery] Services
            p Providing exceptional towing services in the Joliet, Romeoville, Bolingbrook, Lockport area
            .headline-phone.mobile-hidden
              span CALL US FOR A FAST SERVICE:
              a.phone-hero(href="tel:18159810456") (815) 981 - 0456
            a.mobile-hero-phone.mobile-only(href="tel:18159810456") 
                p Tap to Call us
            svg.icon.icon-Group
              use(xlink:href='#icon-Group')
          svg.icon.icon-price-badge.animate.flipInY
            use(xlink:href='#icon-price-badge')
    section.services-home
      .owl-carousel.services.row
        include ./includes/services-home.html
    
    section.whyus
      .row
        .small-12.medium-10.medium-centered.columns
          h2.title-section #[span.mobile-hidden Exceptional and] reliable towing service in and around  Joliet, IL.
        .small-12.medium-6.columns.why-us-item
          //- h4 Reliable towing service with a Smile
          p With over 1400 locations across the U.S. and Canada, Midas auto repair technicians can perform preventive maintenance and car repair wherever you are. Every Midas store is staffed by ASE-certified mechanics
          p Midas offers complete auto care for your vehicle. Whether it’s time for your next factory recommended maintenance visit, a routine oil change, new tires, or repair services on your brakes, muffler and exhaust, suspension, air conditioner, or any other mechanical or electrical component of your car, Midas is in your neighborhood and ready to serve you. 
        .small-12.medium-6.columns.why-us-item.mobile-hidden
          //- h4 The best rates in the towing market
          p For over 50 years Midas has been caring for cars and trucks in communities across the U.S.
          p Our famous Midas Lifetime Guarantee* on brakes, mufflers and exhaust, and shocks and struts means that we’ve got you covered, for as long as you own your car.
          p We don’t paint mufflers gold any more, but our word is as good as gold. Count on your local Midas for all your car care needs. Trust the Midas Touch®.
    .cta-content.mobile-only
      .row
        .small-8.small-centered.columns.mobile-content-phone
          p We are here to help 24/7
          a(href="tel:18159810456") Tap to call us
    section.coveragearea.mobile-hidden
      .row
        .small-12.medium-4.medium-centered.columns
          a(href="tel:18159810456").phone-cities
            svg.icon.icon-phone
              use(xlink:href="#icon-phone")
            span We are here to help 24/7
            p (815) 981 - 0456
    section.customer-reviews
      .row
        .small-12.columns
          h2.title-section Customer#[span.mobile-hidden s] Review#[span.mobile-hidden s]
        .small-12.medium-6.columns
          p.review-text "Sergios Towing Services team is always available to help you. Our coverage are include <strong>Joliet</strong>, <strong>Bolingbrook</strong>, <strong>Lockport</strong>, <strong>Romeoville</strong> and souroundung areas. So if you in the middle of the road because you need gas or if you just need a tow."
          h4.name-review —  Megan Smith —
        .small-12.medium-6.columns.mobile-hidden 
          p.review-text "Sergios Towing Services team is always available to help you. Our coverage are include <strong>Joliet</strong>, <strong>Bolingbrook</strong>, <strong>Lockport</strong>, <strong>Romeoville</strong> and souroundung areas. So if you in the middle of the road because you need gas or if you just need a tow."
          h4.name-review —  Megan Smith —
    footer.main-footer
      .row
        .small-12.medium-4.columns
          h4.footer-title Site Navigation
          ul.footer-nav
            li: a(href="#") Home
            li: a(href="#") Services
            li: a(href="#") Coverage Area
            li: a(href="#") Contact
        .small-12.medium-4.columns
          h4.footer-title Our Services
          ul.footer-nav
            li: a(href="#") 24/7 Local Towing
            li: a(href="#") Car Recovery Service
            li: a(href="#") Roadside Assistance
            li: a(href="#") Gas Filling
        .small-12.medium-4.columns
          h4.footer-title Coverage Area
          ul.footer-nav
            li: a(href="#") Towing Services in Joliet, IL
            li: a(href="#") Towing Services in Boolingbrook, IL
            li: a(href="#") Towing Services in Lockport, IL
            li: a(href="#") Towing Services in Romeoville, IL
    .copyright
      .row
        .small-12.columns
          p Copyright &copy; 2011-2015 Sergios Towing Services | #[a(href="#") Web Design] by #[a(href="#") Alex Capellan]
    .sb-slidebar.sb-right.sb-style-push
      ul.mobile-nav
        li: a(href="") Services
        li: a(href="") Coverage Area
        li: a(href="") Contact
        //- li: a(href="tel:18159810456").mobile-nav-phone Tap to call us
          
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="assets/js/min/functions-min.js")
