doctype html
html(lang='en')
  head
    title Sergio's Towing
    meta(charset="utf-8")
    link(rel="stylesheet" href="assets/css/main.css")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    include ./includes/svg.html
    section.inner-header
      header.site-header
        .row
          include ./includes/nav
      .headline-wrap
        .row.hero-wrap
          .headline-content.inner-headline.medium-10.medium-centered.large-12.columns
            p.page-section our services
            h1 Towing Services around joliet, il
            p We provide short and long distance towing, roadside assistance and everything in between
            a.inner-cta(href="tel:18159810456") tap to call
    section.sevices-services
      .services-section
        include ./includes/services-services.html
    
    .cta-inner
      .row
        .small-12.columns
          a(href="tel:18159810456")
            .left-cta
              svg.icon.icon-phone-2
                use(xlink:href='#icon-phone-2')
            .right-cta
              h4 Tap to call us
              p 24/7 fast towing service
            //- .faux-button Tap to Call
    footer.main-footer
      include ./includes/footer
    include ./includes/copyright
    include ./includes/mobilenav
          
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="assets/js/min/functions-min.js")
