.icon-logo {
  width: 0.865234375em; }

#icon-logo .path1, #icon-logo .path3, #icon-logo .path6 {
  fill: #272727; }

#icon-logo .path2 {
  fill: #ffcb3c; }

#icon-logo .path4 {
  fill: #fff; }

#icon-logo .path5 {
  fill: #fec015; }
