.row
  .small-12.medium-4.columns
    h4.footer-title Site Navigation
    ul.footer-nav
      li: a(href="#") Home
      li: a(href="#") Services
      li: a(href="#") Coverage Area
      li: a(href="#") Contact
  .small-12.medium-4.columns
    h4.footer-title Our Services
    ul.footer-nav
      li: a(href="#") 24/7 Local Towing
      li: a(href="#") Car Recovery Service
      li: a(href="#") Roadside Assistance
      li: a(href="#") Gas Filling
  .small-12.medium-4.columns
    h4.footer-title Our Location
    ul.footer-nav
      p 1333 Caton Farm Rd,<br> Lockport, IL 60441
      p For a fast service call<br> #[a(href="tel:18159810456") (815) 981 - 0456]
