.sb-slidebar.sb-right.sb-style-overlay
  ul.mobile-nav
    li: a(href="/") Home
    li: a(href="services.html") Services
    li: a(href="coverage.html") Coverage Area
    li: a(href="contact.html") Contact
    li: a.sb-close(href="") Close
    
    //- li: a(href="tel:18159810456").mobile-nav-phone Tap to call us
