.sb-slidebar.sb-right.sb-style-overlay
  ul.mobile-nav
    li: a(href="http://google.com") Services
    li: a(href="") Coverage Area
    li: a(href="") Contact
    li: a.sb-close(href="") Close
    
    //- li: a(href="tel:18159810456").mobile-nav-phone Tap to call us
