a.site-logo.small-5.medium-4.columns(href="http://google.com") 
  svg.icon.icon-logo
    use(xlink:href='#icon-logo')

nav.main-navigation.small-6.medium-8.columns
 ul
   li: a(href="") Services
   li: a(href="") Coverage Area
   li: a(href="") Contact
   li: a(href="tel:18159810456").phone-nav (815) 981 - 0456

a(href="http://yahoo.com").mobile-button.mobile-only.small-2.right.columns
 svg.icon.icon-hamburger: use(xlink:href="#icon-hamburger")
a(href="http://msn.com").mobile-button.mobile-only.small-2.right.columns
  svg.icon.icon-phone-menu: use(xlink:href="#icon-phone-menu")
