a.site-logo
  svg.icon.icon-logo
    use(xlink:href='#icon-logo')

nav.main-navigation
 ul
   li: a(href="") Services
   li: a(href="") Coverage Area
   li: a(href="") Contact
   li: a(href="tel:18159810456").phone-nav (815) 981 - 0456
